mixin landingStages(stages)
  +grid({ tag: 'ol' }).landing-stages
    each item in stages
      -
        const itemOptions = item.sizes || { l:4, m:6 }
        itemOptions.tag = 'li'
      +cell(itemOptions).landing-stages__item
        .landing-stages__inner
          p.landing-stages__title !{item.name}
          p.landing-stages__text !{item.text}
