.landing-stages
  counter-reset stage-number
  list-style none
  for i in (1..100)
    &__item:nth-child({i})
      position relative
      counter-increment stage-number
      &::before
        content counter(stage-number)
        position absolute 
        top 0
        left 0
        width 8.5rem
        height 11rem
        background-color var(--color-green) 
        opacity 0.2
        z-index -1
        mask-image url('../images/common.svg#stage-' + i) 
        mask-repeat no-repeat
        mask-size cover
        mask-position center
        +media-max(m)
          width 6rem
          height 8rem
  &__inner
    margin-top 3rem
    margin-left 3.5rem
    +media-max(m)
      margin-top 1.5rem
      margin-left 4rem    
  &__title
    fontSize20()
    font-weight 600
    color var(--color-green)
