include /common/pug/helpers

include /blocks/grid/grid
include /blocks/scripts/scripts
include /blocks/style/style

include /blocks/container/container
include /blocks/content/content
include /blocks/page-section/page-section
include /blocks/page-subsection/page-subsection
include /blocks/text-marked/text-marked
include /blocks/block-marked/block-marked
include /blocks/icon-block/icon-block

doctype html
html(lang='ru')
  include ../head/head
  body
    include /blocks/header/header
    main: block content
    include /blocks/footer/footer
  +style('style.rest')
  if (resourcesName)
    +style(`${resourcesName}.rest`)
  -
    const scripts = ['script.js']
    if (resourcesName) scripts.push(`${resourcesName}.js`)
  +scripts(scripts)
