@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  --arrow-position var(--base-padding)
  --arrow-size 2rem
  position relative
  +media(m)
    --arrow-position 0
  &__slides
    position static
  &__arrow
    position absolute
    bottom 12px
    width var(--arrow-size)
    height var(--arrow-size)
    z-index 100
    &--prev
      left var(--arrow-position)
    &--next
      right var(--arrow-position)
  &__pagination
    display flex
    gap var(--base-padding)
    justify-content center
    align-items center
    margin-y calc(var(--base-padding)*1.5)
  &__pagination-item
    position relative
    bottom unset
    width .6rem
    height .6rem
