@import '../../../node_modules/swiper/swiper-bundle.min.css'

.slider
  &__arrow
    --arrow-color var(--color-green)
    --arrow-transition-duration var(--transition-duration-out)
    cursor pointer
    background-color var(--arrow-color)
    mask(arrow)
    transition background-color var(--transition-duration-out)
    &:hover
      --arrow-color var(--color-button-hover)
      --arrow-transition-duration var(--transition-duration-in)
    &:active
      background-color var(--color-button-active)
    &--next
      transform rotate(180deg)
    &--disabled
    &--disabled:hover
    &--disabled:active
      background-color var(--color-grey)
      cursor default
  &__pagination-item
    --transition-duration var(--transition-duration-out)
    background-color var(--color-green)
    border 2px solid var(--color-green)
    border-radius 100vmax
    transition background-color var(--transition-duration)
    &--active
      --transition-duration var(--transition-duration-in)
      background-color var(--color-white)
