.button
  color var(--color-white)
  text-decoration none
  background-color var(--color-green)
  border-radius var(--border-radius-small)
  transition background-color var(--transition-duration-out)
  &:hover
    transition-duration var(--transition-duration-in)
    +media(l)
      color var(--color-white)
      background-color var(--color-button-hover)
  &:active
    +media(l)
      background-color var(--color-button-active)
