extends /blocks/layout/layout

include /blocks/img/img
include /blocks/countdown/countdown
include /blocks/tabs/tabs
include /blocks/slider/slider
include /blocks/landing-stages/landing-stages 
include /blocks/landing-whatsapp/landing-whatsapp 

block head
  -
    const pageTitle = `${siteName}: landing`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'landing'
    const isLandingPage = true
block content  
  +pageSection.landing-header.landing-header--caries#main 
    +grid
      +cell({ m:7, s:10 })
        .landing-header__inner
          h1.landing-header__title Лечение кариеса любой сложности со&nbsp;скидкой&nbsp;20%
          +countdown('2023, 06, 01')   
          ul.landing-header__list
            li Бесплатная консультация до&nbsp;конца июня
            li Комплексный осмотр и&nbsp;составление #[br] плана лечения
          a(href='https://wa.me/79213955297?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D1%85%D0%BE%D1%87%D1%83...' target='_blank').button.landing-header__button Записаться на прием
  +pageSection({ noPadding: 'bottom'})#prices
    h2 Условия акции
    +pageSubsection
      .block-marked.block-marked--container-width
        +tabs
          +tab({name: 'Поверхностный'})
            +grid({ alignItems: 'center' })
              +cell({ m:9 })
                p Поверхностный кариес&nbsp;&mdash; это начальная стадия кариозного разрушения эмали зуба вследствие утраты значительного количества кальция. Соединение эмали и&nbsp;дентина пока сохраняется, патологический процесс ещё не&nbsp;затронул более глубокий средний слой&nbsp;&mdash; дентин, но&nbsp;неуклонно к&nbsp;этому стремится. Чаще всего поверхностный кариес обнаруживается специалистами у&nbsp;детей и&nbsp;подростков, взрослые, к&nbsp;сожалению, чаще обращаются к&nbsp;стоматологу, когда деструкция уже добралась до&nbsp;дентина.
              +cell({ m:3 })
                +textMarked({ tag: 'p', bold:true, size:'l'}).text-align-center Лечение за&nbsp;3&nbsp;840&nbsp;₽ вместо #[span.text-marked.text-marked--bold.text-marked--old-price 4&nbsp;800&nbsp;₽] до&nbsp;30&nbsp;июня 
          +tab({name: 'Средний'})
            +grid({ alignItems: 'center' })
              +cell({ m:9 })
                p Средний кариес&nbsp;&mdash; такая форма кариеса, при которой нарушается целостность эмалево-дентинного соединения, однако сохраняется толстый слой неизменного дентина. Симптомы слабо выражаются. При воздействии химических, температурных, химических воздействий возникает непродолжительная боль средней интенсивности, которая проходит при устранении воздействия.
              +cell({ m:3 })
                +textMarked({ tag: 'p', bold:true, size:'l'}).text-align-center Лечение за&nbsp;4&nbsp;560&nbsp;₽ вместо #[span.text-marked.text-marked--bold.text-marked--old-price 5&nbsp;700&nbsp;₽] до&nbsp;30&nbsp;июня 
          +tab({name: 'Глубокий'})
            +grid({ alignItems: 'center' })
              +cell({ m:9 })
                p Глубокий кариес&nbsp;&mdash; этап, характеризующийся выраженным разрушением твердых тканей. На&nbsp;этой стадии кариес затрагивает не&nbsp;только эмаль, но&nbsp;и&nbsp;дентин, расположенный вблизи пульпы (нерва зуба). Полость кариеса от&nbsp;нервно-сосудистого пучка при этом разделяет тонкая полоска дентина, поэтому очень важно остановить патологический процесс и&nbsp;не&nbsp;допустить пульпита.
              +cell({ m:3 })
                +textMarked({ tag: 'p', bold:true, size:'l'}).text-align-center Лечение за&nbsp;4&nbsp;960&nbsp;₽ вместо #[span.text-marked.text-marked--bold.text-marked--old-price 6&nbsp;200&nbsp;₽] до&nbsp;30&nbsp;июня 
  +pageSection({ noPadding: 'bottom'}) 
    h2 Преимущества клиники
    +pageSubsection
      +grid
        -
          const advantages = [
            {
              mod: 'insurance',
              text: '21 год на рынке стоматологии',
            },
            {
              mod: 'dentist',
              text: '200 высококвалифицированных специалистов',
            },
            {
              mod: 'dentist-chair',
              text: 'Современное оборудование и использование новейших технологий',
            },
            {
              mod: 'shield',
              text: 'Гарантия высокого качества лечения',
            },
            {
              mod: 'loan',
              text: 'Рассрочка и возврат 13% от стоимости за лечение',
            },
            {
              mod: 'gps',
              text: 'Удобное расположение в 20 метрах от метро пл. Ленина, выход на ул Лебедева и Боткинскую',
            }
          ]
        each item in advantages  
          +cell({ m:4, s:6 })(class= `icon-block icon-block--${item.mod}`)
            +textMarked({ tag: 'p', bold: true }).text-align-center= item.text
  +pageSection({ noPadding: 'bottom'})
    +grid
      +cell({ m:5 })
        +img({
          name: 'caries-1',
          path: '/images/landings/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='Кариес')
      +cell({ m:7 })
        +grid
          +cell
            p Кариес&nbsp;&mdash; это гниение, разрушение зуба. Это одно из&nbsp;наиболее частых стоматологических заболеваний, приводящее к&nbsp;потере зуба. Лечение зубов от&nbsp;кариеса направлено на&nbsp;остановку кариозного процесса, насыщение тканей зуба минералами, восстановление функций зуба посредством пломбирования полости специальными материалами, восстановление его эстетического вида, профилактику кариеса и&nbsp;его осложнений.
            p Риски при поражении кариесом:
            ul.list-unordered.par
              li изменение эстетики зубов, улыбки;
              li разрушение целостности зуба;
              li развитие осложнений (пульпит, периодонтит);
              li потеря зуба.
            p Не&nbsp;откладывайте лечение кариеса, ведь на&nbsp;ранних стадиях процедура требует минимума усилий и&nbsp;времени. Наши стоматологи помогут вам избавиться от&nbsp;кариеса быстро и&nbsp;безболезненно.
          +cell({ l:7, m:9, s:8 })
            a(href='https://wa.me/79213955297?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D1%85%D0%BE%D1%87%D1%83...' target='_blank').button.par Записаться на осмотр

  +pageSection({ noPadding: 'bottom'})#doctors
    h2 Стоматологи со&nbsp;стажем от&nbsp;10&nbsp;лет
    +pageSubsection
      p Наши врачи индивидуально подходят к&nbsp;лечению каждого пациента&nbsp;&mdash; для вас будет составлен план лечения, учитывающий все аспекты заболевания и&nbsp;ваши пожелания. У&nbsp;нас вы&nbsp;сможете получить подробные ответы на&nbsp;ваши вопросы перед лечением, в&nbsp;процессе и&nbsp;после.
    +pageSubsection
      +slider({ pagination: true }).landing-staff
        -
          const staff = [
            {
              img: 'staff-1',
              href: 'https://www.33zub.ru/showteam/?id=163&clinic=7',
              name: `Ида <br> Елена Александровна`,
              job: 'Врач-стоматолог-терапевт',
              date: '1986 г.',
            },
            {
              img: 'staff-2',
              href: 'https://www.33zub.ru/showteam/?id=40&clinic=7',
              name: `Кустова <br> Ева Геннадьевна`,
              job: `Врач-стоматолог-терапевт <br> Врач-стоматолог-ортопед`,
              date: '1999 г.',
            },
            {
              img: 'staff-3',
              href: 'https://www.33zub.ru/showteam/?id=326&clinic=7',
              name: `Кучкаров <br> Шамшодбек Суратович`,
              job: `Врач-стоматолог-хирург <br> Врач-стоматолог-ортопед`,
              date: '2017 г.',
            },
            {
              img: 'staff-4',
              href: 'https://www.33zub.ru/showteam/?id=154&clinic=7',
              name: `Персикова <br> Валентина Исаковна`,
              job: `Врач-стоматолог-терапевт`,
              date: '1983 г.',
            },
            {
              img: 'staff-5',
              href: 'https://www.33zub.ru/showteam/?id=315&clinic=7',
              name: `Шульга <br> Алина Евгеньевна`,
              job: `Врач-стоматолог-ортодонт`,
              date: '2015 г.',
            },
            {
              img: 'staff-6',
              href: 'https://www.33zub.ru/showteam/?id=343&clinic=7',
              name: `Баширов <br> Амин Муннаварович`,
              job: `Врач-стоматолог`,
              date: '2020 г.',
            },
            {
              img: 'staff-7',
              href: 'https://www.33zub.ru/showteam/?id=341&clinic=7',
              name: `Карнаева <br> Анисат Башировна`,
              job: `Врач-стоматолог-терапевт-ортопед`,
              date: '2017 г.',
            },
          ]
        each item in staff
          +slide.landing-staff__slide
            .landing-staff__image
              a(href=item.href target="_blank")
                +img({
                name: item.img,
                path: '/images/landings/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' }
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= item.name)
            .landing-staff__inner
              a(href= item.href target="_blank").landing-staff__link !{item.name}
              span.landing-staff__job !{item.job}
              span.landing-staff__date Стаж работы с !{item.date}
  +pageSection({ noPadding: 'bottom'})
    h2 Этапы
    +pageSubsection
      -
        const stages = [
          {
            name: 'Диагностика',
            text: 'Перед лечением врач проведет визуальный осмотр при помощи аппаратного обследования. Определит степень заболевания и для составления дальнейшего плана лечения получит детальную информацию о состоянии ротовой полости.',
          },
          {
            name: 'Планирование',
            text: 'На этапе планирования мы обсудим с вами все возможные варианты лечения. Специалисты составят и предложат вам план, подробно расскажут о сроках и этапах, о формах и сроках оплат. Вы получите всю необходимую информацию.',
          },
          {
            name: 'Лечение',
            text: 'Классический и самый привычный способ лечения кариеса – удаление пораженных тканей зуба с помощью бормашины и пломбирование образовавшейся полости. В случае глубоких поражений необходима тщательная проработка каналов, иногда может потребоваться установка штифта или специальной вкладки для укрепления пломбы.',
          },
        ]
      +landingStages(stages) 

  +pageSection({ noPadding: 'bottom'})
    h2 Фото до и после
    +pageSubsection(class= grid())
      - const beforeAfter = ['before-after-1', 'before-after-2', 'before-after-3']
      - for (let i = 0; i < beforeAfter.length; i++)
        +cell({ m:4, s:6 })
          +img({
            name: beforeAfter[i],
            path: '/images/landings/',
            formats: [
              { ext: 'jpg', orig: true },
              { ext: 'webp', mime: 'image/webp' }
            ],
            density: [
              { values: [ 1, 2 ] }
            ]
          })(alt= 'Фото до и после')

  +pageSection({ noPadding: 'bottom'})
    h2 Отзывы
    +pageSubsection
      +slider({ pagination: true }).landing-feedback
        - 
          const feedbacks = [
            {
              name: 'Абозянский Алексей',
              text: 'За много лет накопил кариесов и решил их наконец все вылечить. Попал к врачу Альбине Сергеевне. Поначалу было немного волнительно, т.к. лечением зубов за всю жизнь почти не занимался. Доверился доктору и не пожалел! Лечение каждого зуба прошло на отлично! Альбина - мастер своего дела! Анестезия, лечение и рекомендации для профилактики, все делает уверенно, что определённо внушает доверие! Огромное спасибо! А также спасибо всем ассистентам, кто ей помогал!',
              date: '04.10.2022',
            },
            {
              name: 'Сарычева Анастасия Андреевна',
              text: 'Хочу выразить огромную благодарность Мауберг Парвин Наимовне! Она моя Зубная Фея, вылечила мне все зубы, сделала чистку, все безболезненно и комфортно! С ней я теперь не боюсь лечить зубы, хожу только к ней, а также по моей рекомендации лечатся у нее мои друзья и все довольны) Очень деликатный, добрый, профессиональный, тактичный врач, с легкой рукой и приятной энергетикой, что не маловажно) После лечения зубы чувствуют себя комфортно, я очень рада что попала именно к Парвин Наимовне! Она крутой врач, спасибо ей большое!!!',
              date: '05.03.2023',
            },
            {
              name: 'Анна Александровна П.',
              text: 'Лечила у Валентины Александровны несколько зубов + делала чистку. Могу сказать, что врач очень доброжелательная, внимательная. Каждый раз беспокоилась о самочувствии, на вопросы отвечала подробно. Хочу сказать ей большое спасибо за то, что у нее в кресле мне было не больно и не страшно. С легкостью пролечили все мои проблемы. Нареканий нет.',
              date: '13.12.2022',
            },
          ]
        each item in feedbacks
          +slide.landing-feedback__slide
            .landing-feedback__inner
              p.landing-feedback__name !{item.name}
              p !{item.text}
              p !{item.date}
  
  +landingWhatsapp
