extends /blocks/layout/layout

include /blocks/img/img
include /blocks/countdown/countdown
include /blocks/tabs/tabs
include /blocks/slider/slider
include /blocks/landing-stages/landing-stages 
include /blocks/landing-whatsapp/landing-whatsapp 

block head
  -
    const pageTitle = `${siteName}: landing`
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'landing'
    const isLandingPage = true
block content  
  +pageSection.landing-header.landing-header--removal#main 
    +grid
      +cell({ m:7, s:10 })
        .landing-header__inner
          h1.landing-header__title Удаление зуба любой сложности без боли по&nbsp;выгодной цене
          +countdown('2023, 06, 01')   
          ul.landing-header__list
            li Комплексный осмотр и&nbsp;составление плана лечения #[strong в&nbsp;подарок]
            li Бесплатная консультация у&nbsp;врачей разных специализаций до&nbsp;конца июня
          a(href='https://wa.me/79213955297?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D1%85%D0%BE%D1%87%D1%83...' target='_blank').button.landing-header__button Записаться на прием
  +pageSection({ noPadding: 'bottom'})#prices
    h2 Стоимость
    +pageSubsection 
      p.text-align-center В&nbsp;стоимость лечения входит: анестезия (неограниченно), разрез, экстракция зуба, кюретаж лунки, медикаментозная обработка лунки, ушивание лунки, наложение мазевой повязки, расходные материалы.
    +pageSubsection 
      +grid
        +cell({ l:4, m:6 }).block-marked.block-marked--color--grey.block-marked--border-radius.text-align-center
          +textMarked({ tag: 'p', bold:true, size:'l'}) от&nbsp;1&nbsp;600&nbsp;₽ вместо #[span.text-marked.text-marked--bold.text-marked--old-price 2&nbsp;100&nbsp;₽]
          +textMarked({ tag: 'p', size:'m' }) Удаление молочного зуба
        +cell({ l:4, m:6 }).block-marked.block-marked--color--grey.block-marked--border-radius.text-align-center
          +textMarked({ tag: 'p', bold:true, size:'l'}) от&nbsp;2&nbsp;750&nbsp;₽ вместо #[span.text-marked.text-marked--bold.text-marked--old-price 3&nbsp;550&nbsp;₽]
          +textMarked({ tag: 'p', size:'m' }) Удаление постоянного зуба
        +cell({ l:4, m:6 }).block-marked.block-marked--color--grey.block-marked--border-radius.text-align-center
          +textMarked({ tag: 'p', bold:true, size:'l'}) от&nbsp;5&nbsp;400&nbsp;₽ вместо #[span.text-marked.text-marked--bold.text-marked--old-price 6&nbsp;590&nbsp;₽]
          +textMarked({ tag: 'p', size:'m' }) Удаление ретенированного зуба (зуб, находящийся в&nbsp;толще костной ткани челюсти, полностью сформированный, но&nbsp;не&nbsp;прорезавший десну)

  +pageSection({ noPadding: 'bottom'}) 
    h2 Преимущества клиники
    +pageSubsection
      +grid
        -
          const advantages = [
            {
              mod: 'insurance',
              text: '21 год на рынке стоматологии',
            },
            {
              mod: 'dentist',
              text: '200 высококвалифицированных специалистов',
            },
            {
              mod: 'dentist-chair',
              text: 'Современное оборудование и использование новейших технологий',
            },
            {
              mod: 'shield',
              text: 'Гарантия высокого качества лечения',
            },
            {
              mod: 'loan',
              text: 'Рассрочка и возврат 13% от стоимости за лечение',
            },
            {
              mod: 'gps',
              text: 'Удобное расположение в 20 метрах от метро пл. Ленина, выход на ул Лебедева и Боткинскую',
            }
          ]
        each item in advantages  
          +cell({ m:4, s:6 })(class= `icon-block icon-block--${item.mod}`)
            +textMarked({ tag: 'p', bold: true }).text-align-center= item.text
  
  +pageSection({ noPadding: 'bottom'})
    +grid
      +cell({ m:5 })
        +img({
          name: 'removal-1',
          path: '/images/landings/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='Удаление зуба')
      +cell({ m:7 })
        +grid
          +cell
            p Удаление зуба&nbsp;&mdash; #[strong крайняя мера], которую назначает врач-стоматолог, когда пломбирование или протезирование искусственной коронкой невозможно по&nbsp;объективным причинам. 
            p Удаление зуба проводится экстренно или планово. Срочно удалить зуб необходимо при гнойно-воспалительном процессе, острых болях. Инфекция от&nbsp;корня зуба может стать причиной #[strong остеомиелита] (воспаление костной ткани), и&nbsp;тогда хирургические манипуляции будут #[strong более сложными и&nbsp;объемными.]
            p Врачи клиники &laquo;33&nbsp;зуб&raquo; проводят операцию по&nbsp;удалению зуба #[strong быстро и&nbsp;безболезненно.] Стаж наших специалистов в&nbsp;среднем от&nbsp;10&nbsp;лет, также мы&nbsp;предоставляем #[strong гарантию на&nbsp;лечение], поэтому вы&nbsp;можете быть уверены в&nbsp;#[strong высоком качестве] обслуживания.
          +cell({ l:7, m:9, s:8 })
            a(href='https://wa.me/79213955297?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D1%85%D0%BE%D1%87%D1%83...' target='_blank').button.par Записаться на осмотр

  +pageSection({ noPadding: 'bottom'})
    h2 Показания к удалению зуба
    +pageSubsection(class= grid())
      +cell({ m:7 })
        ul.list-unordered 
          li Разрушение зуба вследствие кариеса и&nbsp;невозможности его восстановления.
          li Непроходимость корневых каналов, что приводит к&nbsp;развитию хронических воспалительных процессов периодонта.
          li Патологическая подвижность зубов и&nbsp;поздние стадии парадонтита.
          li Сверхкомплектные, дистопированные(неправильно расположенные или смещенные в&nbsp;зубном ряду) и&nbsp;ретинированные (зубы, которые не&nbsp;прорезались или прорезались не&nbsp;полностью), которые вызывают различные нарушения в&nbsp;зубочелюстной системе.
          li При ортодонтическом и&nbsp;ортопедическом лечении, если есть зубы, мешающие проведению лечения или протезирования.
          li Перелом коронки и&nbsp;корня с&nbsp;невозможностью восстановления.
          li Гнойно-воспалительные заболевания костной ткани: периостит, остеомиелит.
          li Восьмерки, которые мешают соседним зубам, являются причиной изменения прикуса, асимметрии лица, неврологических болей, перикоронарита.
      +cell({ m:5 })
        +img({
          name: 'removal-2',
          path: '/images/landings/',
          formats: [
            { ext: 'webp', mime: 'image/webp' },
            { ext: 'png', orig: true },
          ],
          density: [
            { values: [ 1, 2 ] }
          ]
        })(alt='Удаление зуба')

  +pageSection({ noPadding: 'bottom'})#doctors
    h2 Стоматологи со&nbsp;стажем от&nbsp;10&nbsp;лет
    +pageSubsection
      p Наши врачи индивидуально подходят к&nbsp;лечению каждого пациента&nbsp;&mdash; для вас будет составлен план лечения, учитывающий все аспекты заболевания и&nbsp;ваши пожелания. У&nbsp;нас вы&nbsp;сможете получить подробные ответы на&nbsp;ваши вопросы перед лечением, в&nbsp;процессе и&nbsp;после.
    +pageSubsection
      +slider({ pagination: true }).landing-staff
        -
          const staff = [
            {
              img: 'staff-1',
              href: 'https://www.33zub.ru/showteam/?id=163&clinic=7',
              name: `Ида <br> Елена Александровна`,
              job: 'Врач-стоматолог-терапевт',
              date: '1986 г.',
            },
            {
              img: 'staff-2',
              href: 'https://www.33zub.ru/showteam/?id=40&clinic=7',
              name: `Кустова <br> Ева Геннадьевна`,
              job: `Врач-стоматолог-терапевт <br> Врач-стоматолог-ортопед`,
              date: '1999 г.',
            },
            {
              img: 'staff-3',
              href: 'https://www.33zub.ru/showteam/?id=326&clinic=7',
              name: `Кучкаров <br> Шамшодбек Суратович`,
              job: `Врач-стоматолог-хирург <br> Врач-стоматолог-ортопед`,
              date: '2017 г.',
            },
            {
              img: 'staff-4',
              href: 'https://www.33zub.ru/showteam/?id=154&clinic=7',
              name: `Персикова <br> Валентина Исаковна`,
              job: `Врач-стоматолог-терапевт`,
              date: '1983 г.',
            },
            {
              img: 'staff-5',
              href: 'https://www.33zub.ru/showteam/?id=315&clinic=7',
              name: `Шульга <br> Алина Евгеньевна`,
              job: `Врач-стоматолог-ортодонт`,
              date: '2015 г.',
            },
            {
              img: 'staff-6',
              href: 'https://www.33zub.ru/showteam/?id=343&clinic=7',
              name: `Баширов <br> Амин Муннаварович`,
              job: `Врач-стоматолог`,
              date: '2020 г.',
            },
            {
              img: 'staff-7',
              href: 'https://www.33zub.ru/showteam/?id=341&clinic=7',
              name: `Карнаева <br> Анисат Башировна`,
              job: `Врач-стоматолог-терапевт-ортопед`,
              date: '2017 г.',
            },
          ]
        each item in staff
          +slide.landing-staff__slide
            .landing-staff__image
              a(href=item.href target="_blank")
                +img({
                name: item.img,
                path: '/images/landings/',
                formats: [
                  { ext: 'jpg', orig: true },
                  { ext: 'webp', mime: 'image/webp' }
                ],
                density: [
                  { values: [ 1, 2 ] }
                ]
              })(alt= item.name)
            .landing-staff__inner
              a(href= item.href target="_blank").landing-staff__link !{item.name}
              span.landing-staff__job !{item.job}
              span.landing-staff__date Стаж работы с !{item.date}
  +pageSection({ noPadding: 'bottom'})
    h2 Этапы
    +pageSubsection
      -
        const stages = [
          {
            name: 'Осмотр',
            text: 'Осмотр, получение данных дополнительной диагностики, опрос пациента. Оценивается статус здоровья, наличие хронических заболеваний и перенесенных операций, аллергических реакций.',
            sizes: { l:3, m:6 },
          },
          {
            name: 'ПОДГОТОВКА',
            text: 'Подбор и введение анестетика для безболезненного проведения манипуляции. Подготовка к удалению проводится специальным инструментом после начала действия анестезии.',
            sizes: { l:3, m:6 },
          },
          {
            name: 'УДАЛЕНИЕ',
            text: 'Стоматолог аккуратно начинает раскачивать зуб специальным инструментом, затем извлекает его и оценивает целостность. В лунке не должно остаться осколков.',
            sizes: { l:3, m:6 },
          },
          {
            name: 'ПОСЛЕ ОПЕРАЦИИ',
            text: 'Тампонада лунки на 20 минут после удаления. Врач дает рекомендации по уходу за полостью рта.',
            sizes: { l:3, m:6 },
          },
        ]
      +landingStages(stages)     
    +pageSubsection.block-marked.block-marked--container-width
      .icon-block.icon-block--horizontal.icon-block--hourglass.icon-block--no-padding
        +textMarked({ tag: 'p', bold:true, size:'m'}) Вся процедура занимает не&nbsp;больше часа и&nbsp;большую часть этого времени составляет время ожидания действия анестетика

  +pageSection({ noPadding: 'bottom'})
    h2 Отзывы
    +pageSubsection
      +slider({ pagination: true }).landing-feedback
        - 
          const feedbacks = [
            {
              name: 'Исаева Светлана Викторовна',
              text: 'Я хочу поблагодарить Карачева Евгения Владимировича за отличную работу, профессионализм и очень доброе отношение! Я ходила к нему удалять 4 восьмерки. С нижними восьмерками все было не просто, и удаление их заняло достаточно много времени. Но, Евгений Владимирович сделал свою работу на «отлично».',
              date: '21.02.2023',
            },
            {
              name: 'Мартынова Любовь Валерьевна',
              text: 'Благодарна Виталию Юрьевичу за прекрасно проведённое удаление зуба мудрости! У меня было воспаление, 7 дней мучилась, боялась идти. Доктор очень внимателен и приятный человек, осмотрел меня на следующий день, отвечал на все вопросы по телефону, хотя очень занят и востребован. Сейчас у меня уже третий день после удаления, и все 😌 хорошо. Вообще, в этой клинике работают отзывчивые и приветливые люди, грамотные специалисты. Спасибо и девушкам-администраторам и врачу, который делал мне снимок. Эта очень добрая женщина сделала самый лучший снимок, успокоила меня, а это немаловажно! Спасибо всем огромное!',
              date: '16.01.2023',
            },
            {
              name: 'Кесаев Алан Владимирович',
              text: 'В сентябре 2022 года убирал 2 восьмерки, одна из которых была сложная (росла перпендикулярно остальным зубам). С ней пришлось повозиться, но в целом все прошло хорошо, в процессе удаления болевых ощущений не было. Вторую восьмерку убрали вообще почти мгновенно, я даже не заметил. Зажило все хорошо. В общем, могу рекомендовать Виталия Юрьевича как грамотного специалиста',
              date: '05.11.2022',
            },
          ]
        each item in feedbacks
          +slide.landing-feedback__slide
            .landing-feedback__inner
              p.landing-feedback__name !{item.name}
              p !{item.text}
              p !{item.date}
  
  +landingWhatsapp
