extends /blocks/layout/layout

include /blocks/img/img

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
    const resourcesName = 'main'
block content
