.landing-staff
  &__inner
    display flex
    flex-direction column
    align-items center
    row-gap 0.2rem
    text-align center
  &__link
    font-weight 500
    text-decoration none
  &__date
  &__job
    fontSize12()
