.block-marked
  --color-background var(--color-grey)
  padding var(--padding)
  background-color var(--color-background)
  +media(l)
    --padding 2.5rem
  +media-interval(s, l)
    --padding 1.875rem
  +media-max(s)
    --padding 1.25rem
  &--color--grey
    --color-background var(--color-grey-lighter)
  &--container-width
    position relative
    background-color transparent
    &::before
      position absolute
      content ''
      background-color var(--color-grey-lighter)
      top 0
      left -100vw
      right -100vw
      height 100%
      z-index -1  
  &--border-radius
    border-radius var(--border-radius-big)
