.landing-feedback
  &__slide.swiper-slide
    position relative
    height unset
    border 1px solid var(--color-green)
    border-radius var(--border-radius-big)
    box-sizing border-box
    &::before
      position absolute
      content ''
      mask(quote)
      width 140px 
      height 100px
      top var(--gap)
      left var(--gap)
      background-color var(--color-green)
      z-index -1
      opacity 0.1
  &__inner
    padding 2.5rem
    +media-max(s)
      padding 2rem
  &__name
    color var(--color-green)
    font-weight 500
