.header-switcher
  --before-opacity 1
  --after-opacity 0
  text-align left
  background-color transparent
  transition opacity var(--transition-duration-in)
  &--active
    --before-opacity 0
    --after-opacity 1
  &::before
  &::after
    content ''
    position absolute
    top 50%
    left 0
    width 2rem
    height 2rem
    background-color var(--color-white)
    translate 0 -50%
  &::before
    mask(menu)
    opacity var(--before-opacity) 
  &::after
    mask(close)
    opacity var(--after-opacity)
