extends /blocks/layout/layout

include /blocks/img/img

block head
  -
    const pageTitle = `${siteName}: `
    const pageDescription = ''
    const pageKeywords = ''
block content
  +pageSection
    ul.list-unordered
      li: a(href='landing--caries.html') Лечение кариеса — landing--caries.html
      li: a(href='landing--removal.html') Удаление зуба — landing--removal.html
