@import '../../common/stylus/mixins'
@import '../../common/stylus/fonts'
@import '../../common/stylus/reset'
@import '../../common/stylus/variables.core'

fontFace('Montserrat', 'Montserrat-Regular', '400', 'normal')
fontFace('Montserrat', 'Montserrat-Medium', '500', 'normal')
fontFace('Montserrat', 'Montserrat-SemiBold', '600', 'normal')
fontFace('Montserrat', 'Montserrat-Bold', '700', 'normal')

html
  font-family 'Montserrat', 'Helvetica-Neue', 'Arial', sans-serif
  font-size 16px
  line-height 1.5
  color var(--color-black)
  scroll-behavior smooth

@import '../../blocks/grid'

@import '../../blocks/container'
@import '../../blocks/content'
@import '../../blocks/page-section'
@import '../../blocks/page-subsection'
@import '../../blocks/header/header.core'
@import '../../blocks/header-navigation/header-navigation.core'
@import '../../blocks/header-switcher/header-switcher.core'
@import '../../blocks/layout'
@import '../../blocks/h2'
@import '../../blocks/p'
