+pageSection({ tag: 'footer', noPadding: ['top', 'bottom']})#contacts.footer
  h2 Контакты
  +pageSubsection(class= grid()).block-marked.block-marked--container-width
    +cell({ m:7 })
      iframe(src='https://yandex.ru/map-widget/v1/?um=constructor%3Adcaf2494c182feddd5b1c813043e2ccb1ca25cc0e36d2188741243a8b5f27ed3&amp;source=constructor' frameborder='0' allowfullscreen='true' width='100%' height='450' style='display: block;')
    +cell({ m:5 })
      +grid 
        +cell
          p Клиника расположена адресу: 195009, г. Санкт-Петербург, Боткинская улица, д.&nbsp;1, пом. 10Н., лит&nbsp;Б
          p Телефон: 
          p #[a(href='tel:+78125429433') +7 (812) 542-94-33]
          p #[a(href='tel:+78122947064') +7 (812) 294-70-64]
          p E-mail: #[a(href='mailto:botkinskaya@33zub.ru') botkinskaya@33zub.ru]
          p Юридическое лицо: ООО &laquo;Боткинская&nbsp;33&raquo; 
          p Часы работы: с&nbsp;9:00 до&nbsp;21:00 без обеда и&nbsp;выходных
        +cell({ l:9, m:10, s:9 })
          a(href='https://wa.me/79213955297?text=%D0%97%D0%B4%D1%80%D0%B0%D0%B2%D1%81%D1%82%D0%B2%D1%83%D0%B9%D1%82%D0%B5!%20%D0%AF%20%D1%85%D0%BE%D1%87%D1%83...' target='_blank').button Записаться на осмотр
