mixin landingWhatsapp
  .landing-whatsapp
    a(href='https://api.whatsapp.com/send?phone=79213955297&amp;text=Здравствуйте!%20Я%20хочу%20.%20.%20.%20' target='_blank').landing-whatsapp__button
      .landing-whatsapp__circlephone
      .landing-whatsapp__circle-fill
      .landing-whatsapp__img-circle
        .landing-whatsapp__img-circleblock
