.landing-whatsapp
  &__button
    display block 
    width 20px 
    height 20px 
    bottom 25px
    right 0px
    position fixed
    z-index 999
  &__img-circle
    width 72px
    height 72px
    bottom  14px
    right  49px
    position absolute
    border-radius  100%
    border  2px solid transparent
    opacity  .9
    background-color #25D366
    box-sizing content-box
    transform-origin  center
    &:hover
      opacity 1
  &__circlephone
    box-sizing content-box
    border  2px solid #25D366
    width 150px
    height 150px
    bottom -25px
    right 10px
    position absolute
    border-radius  100%
    opacity  .5
    animation  circle-anim 2.4s infinite ease-in-out !important
    transition  all 0.5s
    transform-origin  center
  &__circle-fill
    box-sizing content-box
    background-color #25D366
    width 100px
    height 100px
    bottom 0px
    right 35px
    position absolute
    border-radius  100%
    border  2px solid transparent
    animation  circle-fill-anim 2.3s infinite ease-in-out
    transition  all 0.5s
    transform-origin  center
  &__img-circleblock
    box-sizing content-box
    width 72px
    height 72px
    background-image url(//ipic.su/img/img7/fs/logo.1589099168.png)
    background-position  center center
    background-repeat no-repeat
    animation-name  tossing
    animation-duration  1.5s
    animation-iteration-count  infinite
    transform-origin  center

@keyframes pulse 
  0% 
    transform  scale(0.9)
    opacity  1
  50% 
    transform  scale(1) 
    opacity  1
  100% 
    transform  scale(0.9)
    opacity  1

@keyframes tossingcircle
  0% 
    transform  rotate(-8deg)
  50% 
    transform  rotate(8deg)
  100% 
    transform  rotate(-8deg)

@keyframes circle-anim
  0% 
    transform  rotate(0deg) scale(0.5) skew(1deg)
    opacity  .1
  30% 
    transform  rotate(0deg) scale(0.7) skew(1deg)
    opacity  .5
  100% 
    transform  rotate(0deg) scale(1) skew(1deg)
    opacity  .1

@keyframes circle-fill-anim 
  0% 
    transform  rotate(0deg) scale(0.7) skew(1deg)
    opacity  .2
  50% 
    transform  rotate(0deg) scale(1) skew(1deg)
    opacity  .2
  100% 
    transform  rotate(0deg) scale(0.7) skew(1deg)
    opacity  .2
