.tabs
  display flex
  +media-max(m)
    flex-direction column
  &__labels
    display flex
    flex-direction column
    align-items flex-start
    flex-wrap wrap
    justify-content space-between
    +media(m)
      border-right 2px solid var(--color-grey)
    +media-max(m)
      row-gap 0.5rem
      text-align center
  &__label
    width 100%
    padding-y calc((var(--base-padding)/2))
    padding-right calc((var(--base-padding)*2))
    fontSize20()
    cursor pointer
    &:not(&--active)
      text-decoration underline dotted
    +media-max(m)
      padding-right 0
      background-color rgba(#42ba88, 0.1)
    &--active
      color var(--color-green)
      font-weight 500
      border-bottom none
      cursor default
      position relative
      +media(m)
        &::before
          content ''
          position absolute
          top 50%
          translate 0 -50%
          right -9px
          width 1rem
          height 1rem
          background var(--color-grey-lighter)
          transform rotate(315deg)
          border-bottom 2px solid var(--color-grey)
          border-right 2px solid var(--color-grey)
  &__item
    display none
    &--active
      display block
  &__contents
    padding-y 0.75rem
    padding-left calc((var(--base-padding)*2))
    +media-max(m)
      padding-y var(--base-padding)
      padding-left 0
