a
  color var(--color-green)
  transition color var(--transition-duration-out)
  &[href^='#']
    text-decoration-style dotted
  &:hover
    transition-duration var(--transition-duration-in)
    +media(l)
      color var(--color-button-hover)
  &:active
    color var(--color-button-active)
