.page-section
  overflow: hidden
  +media(m)
    padding 3.75rem 0
  +media-max(m)
    padding 2.5rem 0
  &--no-padding
    &--top
      +media(m)
        padding-top 0
      +media-max(m)
        padding-top 0
    &--bottom
      +media(m)
        padding-bottom 0
      +media-max(m)
        padding-bottom 0
