.landing-header
  &__inner
    display flex
    flex-direction column
    row-gap calc(var(--base-padding)*2)
    padding-y var(--base-padding)
  &__title
    font-size 2.5rem
    line-height 1.125
    font-weight 700
  &__list
    font-size 1.5rem
    line-height 1.125
    li
      position relative
      padding-left .875rem
      & + li
        margin-top .625rem
  &__button
    font-size 1.25rem
    +media-max(s)
      width 100%
