.landing-header
  background-repeat no-repeat
  &--caries
    background linear-gradient(90deg,rgba(255,255,255,.9) 11%,rgba(255,255,255,.85) 16%,rgba(255,255,255,.6) 40%,rgba(255,255,255,0) 60%), image-set(url('../images/header-caries.webp') 1x, url('../images/header-caries@2x.webp') 2x)
    background-size cover
    background-position center
    +media-max(m)
      background linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), image-set(url('../images/header-caries.webp') 1x, url('../images/header-caries@2x.webp') 2x)
      background-size cover
      background-position center
  &--removal
    background linear-gradient(90deg,rgba(255,255,255,.9) 11%,rgba(255,255,255,.85) 16%,rgba(255,255,255,.6) 40%,rgba(255,255,255,0) 60%), image-set(url('../images/header-removal.webp') 1x, url('../images/header-removal@2x.webp') 2x)
    background-size cover
    background-position center
    +media-max(m)
      background linear-gradient(0deg, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.2)), image-set(url('../images/header-removal.webp') 1x, url('../images/header-removal@2x.webp') 2x)
      background-size cover
      background-position center
  &__inner
    align-items flex-start
  &__list
    li
      &::before
        content ''
        position absolute
        top 50%
        left 0
        width .4rem
        height .4rem
        background-color var(--color-green)
        border-radius 100vmax
        translate 0 -50%
