.countdown
	display flex
	justify-content center
	&__item 
		text-align center
	&__val 
		font-size 2.5rem
		line-height 1.2
		font-weight 700
		color var(--color-green)
	&__separator 
		margin-x 1rem
		margin-top 5px
		font-size 2rem
		line-height 1
		font-weight 700
		color var(--color-grey)
	&__text 
		font-size 0.875rem
		color var(--color-grey)
