mixin countdown(date)
  .countdown(data-date= date)&attributes(attributes)
    .countdown__item.countdown__days
      .countdown__val 00
      span.countdown__text дней
    
    .countdown__separator :
    .countdown__item.countdown__hours
      .countdown__val 00
      span.countdown__text часов
    
    .countdown__separator :
    .countdown__item.countdown__minutes 
      .countdown__val 00
      span.countdown__text минут
    
    .countdown__separator :
    .countdown__item.countdown__seconds 
      .countdown__val 00
      span.countdown__text секунд
