:root
  --color-green #42ba88
  --color-white #ffffff
  --color-grey #586673
  --color-grey-lighter #f4f6f9
  --color-black #424242
  --color-red #b91d33

  --transition-duration-in 0.1s
  --transition-duration-out 0.4s
  --border-radius-small 0.375rem
  --border-radius-big 0.625rem

  --color-button-hover #18946c
  --color-button-active #16805D
