.header
  background-color var(--color-green)
  z-index 1000
  &__navigation
    +media-max(m)
      --translate-y translateY(100%)
      position absolute
      bottom 0
      left 0
      z-index 1000
      display block
      width 100vw
      padding-y 1rem
      background-color var(--color-green)
      transform translateX(-100%) var(--translate-y)
      transition transform 0.2s ease-in-out
  &__switcher--active ~ &__search
  &__switcher--active ~ &__navigation
    transform translateX(0) var(--translate-y)
  &__phone
    color var(--color-white)
    text-decoration none
    &::before
      position absolute
      content ''
      display block
      top 50%
      left 0
      width 1.5rem
      height 1.5rem
      mask(phone)  
      background-color var(--color-white) 
      translate 0 -50%
    &:hover
      +media(l)
        color var(--color-white)
