.header
  position fixed
  width 100%
  &__inner
    position relative
    display flex
    justify-content space-between
    align-items center
    +media-max(m)
      padding-y calc(var(--base-padding)*1.4)
  &__switcher
    +media(m)
      display none
    +media-max(m)
      align-self stretch
      margin-right auto
  &__navigation
    flex-grow 1
    +media-max(m)
      display none
  &__phone
    position relative
    padding-left 2.25rem
    font-size 1.25rem
