include /blocks/header-switcher/header-switcher
include /blocks/header-navigation/header-navigation

-
  const mainMenu = [
    { name: 'Главная', href: '#main' }, 
    { name: 'Цены', href: '#prices' },
    { name: 'Врачи', href: '#doctors' },
    { name: 'Контакты', href: '#contacts' }, 
  ]

+container({ tag: 'header' }).header: +content.header__inner
  +headerSwitcher.header__switcher 
  +headerNavigation(mainMenu).header__navigation
  a(href='tel:+78125429433').header__phone 542-94-33
