.text-marked
  &--size--l
    fontSize24()
  &--size--m
    fontSize18()
  &--bold
    font-weight 600
  &--old-price
    position relative
    &::after
      content ''
      position absolute
      left 0
      bottom 0
      width 100%
      height 50%
      border-bottom 3px solid var(--color-red)
      transform rotate(165deg)
  &--color--red
    color var(--color-red)
