.icon-block
  display flex
  flex-direction column
  align-items center
  gap 1rem
  min-height 6rem
  padding 1rem 1.5rem
  background-color var(--color-grey-lighter)
  border-radius var(--border-radius-big)
  &::before
    content ''
    flex-shrink 0
    width 4rem
    height 4rem
    background-image var(--background-image)
    background-repeat no-repeat
    background-position center
    background-size contain
  &--horizontal
    flex-direction row
  &--no-padding
    padding 0
  &--shield
    --background-image url(../images/common.svg#icon-block--shield)
  &--hourglass
    --background-image url(../images/common.svg#icon-block--hourglass)
  &--insurance
    --background-image url(../images/icon-block--insurance.png)
  &--dentist
    --background-image url(../images/icon-block--dentist.png)
  &--dentist-chair
    --background-image url(../images/icon-block--dentist-chair.png)
  &--loan
    --background-image url(../images/icon-block--loan.png)
  &--gps
    --background-image url(../images/icon-block--gps.png)
