.header-navigation
  +media-max(m)
    border-top 1px solid var(--color-white)
  &__list
    display flex
    justify-content space-between
    +media-max(m)
      flex-direction column
  &__item
    flex-grow 1
    display flex
    justify-content center
    & > a
      padding calc(var(--base-padding)*1.5)
      font-size 1.125rem
