.header-navigation
  &__item
    & > a
      text-decoration none
      color var(--color-white)
      transition background-color var(--transition-duration-out)
      &:hover
        +media(l)
          color var(--color-white)
          background-color var(--color-button-hover)
          transition-duration var(--transition-duration-in)

